tempfile
codescan*
.viperlightrc
deployment
.DS_Store
*.js
!jest.config.js
*.d.ts
*.d.ts.map
node_modules
.history
.vscode
# CDK asset staging directory
.cdk.staging
cdk.out
**/lerna.json
.*.ts.map
lerna-debug.log
target
tsdocs
dist
jsii-dist
.jsii
tsconfig.tsbuildinfo
npm
.scannerwork
coverage
.caef_working
cdk.context.json
__pycache__
.nx
test-template.json
.idea